@model  tblQuestion

<div class="row">
    @using (Html.BeginForm("Questions", "Exam", FormMethod.Post))
    {
        @Html.ValidationMessageFor(m => m.selectedvalue, "", new { @class = "text-danger" })

        <div class="col-12" id="1" style="padding-left:25px;padding-right:25px;">
            <p class="fw-bold"> @ViewBag.questionNo.@Model.Question</p>
            <div>
              
                <label for="one" class="box first">
                    <div class="course">
                        <span class="circle"></span>
                        <span class="subject">
                            @Model.OptionA
                            @Html.HiddenFor(model => model.selectedvalue, "1")
                        </span>
                    </div>
                </label>
                <label for="two" class="box second">
                    <div class="course">
                        <span class="circle"></span> <span class="subject">
                            @Model.OptionB
                            @Html.HiddenFor(model => model.selectedvalue, "2")

                        </span>
                    </div>
                </label> <label for="three" class="box third">
                    <div class="course">
                        <span class="circle"></span> <span class="subject">
                            @Model.OptionC
                            @Html.HiddenFor(model => model.selectedvalue, "3")

                        </span>
                    </div>
                </label> <label for="four" class="box forth">
                    <div class="course">
                        <span class="circle"></span> <span class="subject">
                            @Model.OptionD
                            @Html.HiddenFor(model => model.selectedvalue, "4")
                        </span>
                    </div>
                </label>
                @Html.HiddenFor(m => m.OptionA)
                @Html.HiddenFor(m => m.OptionB)
                @Html.HiddenFor(m => m.OptionC)
                @Html.HiddenFor(m => m.OptionD)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Question)
                @Html.HiddenFor(m => m.Standard)
                @Html.HiddenFor(m => m.CorrectAns)

            </div>
        </div>

        <div style="padding-left:25px;padding-right:25px;">
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <input type="submit" name="Previous" value="Previous" class="btn btn-primary d-flex align-items-center btn-danger" />
                    <button class="btn btn-primary d-flex align-items-center btn-info " type="button" style="width:20%;"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Skip</button>
                    <input type="submit" name="Next" value="Next" class="btn btn-primary border-success align-items-center btn-success" />
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    }
</div>
