@model tblStudentDetail

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Students Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href=@Url.Action("Index","AdminDashbord")>Home</a></li>
                    <li class="breadcrumb-item active">Students Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    @*<th>Id</th>*@
                                    <th>Name</th>
                                    <th>ParentName</th>
                                    <th>Sur Name</th>
                                    <th>ContactNumber</th>
                                    <th>EmailId</th>
                                    <th>School Name</th>

                                    <th>Edit</th>
                                    <th>Payment Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    @*<td>@item.Id</td>*@
                                    <td>
                                        @Model.Name
                                    </td>
                                    <td>@Model.ParentName</td>
                                    <td>@Model.SurName</td>
                                    <td> @Model.ContactNumber</td>
                                    <td>
                                        @Model.EmailId
                                    </td>
                                    <td>
                                        @Model.SchoolName
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","STStudentDetails",new {id=@Model.Id })" class="btn btn-block btn-info">Detail</a>
                                    </td>
                                    <td>
                                        @if (Model.Apply_Scholarship == true)
                                        {
                                            <a href="@Url.Action("PaymentDetail","STStudentDetails",new {id=@Model.Id })" class="btn btn-block btn-info">Payment Detail</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index","../Payment",new {stdid=@Model.Id,ScholarshipId=@ViewBag.scholarshipid })" class="btn btn-block btn-info">Make a payment</a>
                                        }
                                    </td>
                                </tr>



                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>

</section>
