@model Scholarship.Areas.Student.Domain.StdPaymentInfo

@{
    ViewBag.Title = "PaymentDetail";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Payment Details</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Scholarship</th>
                                    <th>Amount</th>
                                    <th>TransactionId</th>
                                    <th>TransactionDate</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        @Model.StudentName
                                    </td>
                                    <td>@Model.ScholarshipName</td>
                                    <td>@Model.Amount</td>
                                    <td> @Model.TransactionId</td>
                                    <td> @Model.TransactionDate</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>

</section>